.Menu {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  padding: 0 400px;
  margin-top: 20px;
  z-index: 1;
}
.Menu button {
  background-color: red;
  border: none;
  color: #fff;
  width: 75px;
  height: 35px;
  border-radius: 5px;
  z-index: 1;
  margin-left: 860px;
  transition: 0.8s;
}
.Menu button:hover {
  opacity: 0.9;
  background-color: darkred;
}
